body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgb(109, 109, 109);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside{
    background-color: rgb(136, 136, 136);
    color: #f0f0f0;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}